vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.svelte-kit

# local env files
.env.local
.env.*.local
.env
.env.*
!.env.example

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
diff.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Svelte
/build
/.svelte-kit
/package

# Clean-up
*~
tempCodeRunner.js
/.netlify
/backup
/db/old-schema

.DS_Store
node_modules
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
todo.md
