.navbar #afirst {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding:18px 22px;
    text-decoration: none;
    margin-left: 24px;
  }
  
   /*Change the color of links on hover */
  .navbar #afirst:hover {
    background-color: #ffffff23;
    color: white;
  }
  
   /*Add a color to the active/current link */
  .navbar #afirst.active {
    background-color: #ffffff23;
    color: white;
  }




  .navbar #a2 {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding:18px 22px;
    text-decoration: none;
  }
  
   /*Change the color of links on hover */
  .navbar #a2:hover {
    background-color: #ffffff23;
    color: white;
  }
  
   /*Add a color to the active/current link */
  .navbar #a2.active {
    background-color: #ffffff23;
    color: white;
  }





  .navbar #blast {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding:18px 22px;
    text-decoration: none;
    margin-right: 24px;
  }
  
   /*Change the color of links on hover */
  .navbar #blast:hover {
    background-color: #ffffff23;
    color: white;
  }
  
   /*Add a color to the active/current link */
  .navbar #blast.active {
    background-color: #ffffff23;
    color: white;
  }







  .navbar #b2 {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding:18px 22px;
    text-decoration: none;
  }
  
   /*Change the color of links on hover */
  .navbar #b2:hover {
    background-color: #ffffff23;
    color: white;
  }
  
   /*Add a color to the active/current link */
  .navbar #b2.active {
    background-color: #ffffff23;
    color: white;
  }






  /*dropdown*/
  .dropdown .myDropdown:hover {
    background-color: #ffffff23;
    color: white;
  }
  .dropdown .dropbtn:hover {
    background-color: #ffffff23;
    color: white;
  }

/* Dropdown button */
.dropdown {
  float: right;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    margin-right: 24px;
}

.dropdown .dropbtn {
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  padding:18px 22px;
  background-color: #D32F2F;
  font-family: inherit;
  margin: 0;
}

.dropbtn:focus {
  background-color: #ffffff23;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #D32F2F;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #0000000a;
}

.show {
  display: block;
}